/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
img {
  width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: 'walkway', Helvetica, Arial, sans-serif;
  font-weight: bold;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: #000;
  overflow-x: hidden;
  background-color: #fff;
  transition: background-color;
}
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
.wrapper {
  display: block;
  height: 100%;
  width: 100%;
}
section {
  overflow: hidden;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section_orange {
  background-color: #fff8ef;
}
.section_blue {
  background-color: #ebedf3;
}
@media (min-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.h1 {
  font-family: 'libre_baskervillebold', Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 1px;
  text-align: right;
}
@media (min-width: 768px) {
  .h1 {
    font-size: 44px;
  }
}
@media (min-width: 992px) {
  .h1 {
    font-size: 60px;
  }
}
.h2 {
  font-family: 'libre_baskervillebold', Helvetica, Arial, sans-serif;
  font-size: 38px;
  line-height: 1.25;
  letter-spacing: normal;
}
@media (min-width: 768px) {
  .h2 {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  .h2 {
    font-size: 60px;
  }
}
.h3 {
  font-family: 'Furore';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
}
@media (min-width: 768px) {
  .h3 {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .h3 {
    font-size: 30px;
  }
}
.h4 {
  font-family: 'libre_baskervillebold', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
}
@media (min-width: 768px) {
  .h4 {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .h4 {
    font-size: 24px;
  }
}
.section__subtitle {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 16px;
}
.section__subtitle_orange {
  color: #131a2e;
  background-color: #feeacc;
}
.section__subtitle_blue {
  color: #584220;
  background-color: #e1e4ec;
}
.section__title_orange {
  color: #584220;
}
.section__title_blue {
  color: #131a2e;
}
.button {
  font-family: 'Furore';
  letter-spacing: 1px;
  font-weight: normal;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 45px;
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
  text-decoration: none;
}
@media (min-width: 992px) {
  .button {
    padding: 10px 40px;
  }
}
.button_blue {
  color: #fcbc5c;
  background-color: #374983;
  -webkit-animation: shadowOrangeAnimation 3s infinite;
          animation: shadowOrangeAnimation 3s infinite;
}
.button_blue:hover {
  -webkit-animation: none;
          animation: none;
  background-color: #324276;
  box-shadow: 0px 0px 10px 2px #bd8d45;
}
.button_orange {
  color: #374983;
  background-color: #fcbc5c;
  -webkit-animation: shadowBlueAnimation 3s infinite;
          animation: shadowBlueAnimation 3s infinite;
}
.button_orange:hover {
  -webkit-animation: none;
          animation: none;
  background-color: #e3a953;
  box-shadow: 0px 0px 10px 2px #324276;
}
@-webkit-keyframes shadowBlueAnimation {
  50% {
    box-shadow: 0px 0px 10px 2px #324276;
  }
}
@keyframes shadowBlueAnimation {
  50% {
    box-shadow: 0px 0px 10px 2px #324276;
  }
}
@-webkit-keyframes shadowOrangeAnimation {
  50% {
    box-shadow: 0px 0px 10px 2px #e3a953;
  }
}
@keyframes shadowOrangeAnimation {
  50% {
    box-shadow: 0px 0px 10px 2px #e3a953;
  }
}
.no-opacity {
  opacity: 0;
}
@-webkit-keyframes noOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes noOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: 'Furore';
  src: url('../fonts/furore.ttf') format('truetype'), url('../fonts/furore.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'themify';
  src: url('../fonts/themify.woff?-fvbane') format('woff'), url('../fonts/themify.ttf?-fvbane') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'libre_baskervilleregular';
  src: url('librebaskerville-regular-webfont.woff2') format('woff2'), url('librebaskerville-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'libre_baskervillebold';
  src: url('../fonts/libre/librebaskerville-bold-webfont.woff2') format('woff2'), url('../fonts/libre/librebaskerville-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_black-webfont.woff2') format('woff2'), url('../fonts/walkway/walkway_black-webfont.woff') format('woff'), url('../fonts/walkway/walkway_black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_oblique_black-webfont.woff2') format('woff2'), url('../fonts/walkway/walkway_oblique_black-webfont.woff') format('woff'), url('../fonts/walkway/walkway_oblique_black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_ultrabold-webfont.woff2') format('woff2'), url('../fonts/walkway/walkway_ultrabold-webfont.woff') format('woff'), url('../fonts/walkway/walkway_ultrabold-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_oblique_ultrabold-webfont.woff2') format('woff2'), url('../fonts/walkway/walkway_oblique_ultrabold-webfont.woff') format('woff'), url('../fonts/walkway/walkway_oblique_ultrabold-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_bold-webfont.woff2') format('woff2'), url('../fonts/walkway/walkway_bold-webfont.woff') format('woff'), url('../fonts/walkway/walkway_bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_oblique_bold-webfont.woff2') format('woff2'), url('../fonts/walkway/walkway_oblique_bold-webfont.woff') format('woff'), url('../fonts/walkway/walkway_oblique_bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_semibold-webfont.woff2') format('woff2'), url('../fonts/walkway/walkway_semibold-webfont.woff') format('woff'), url('../fonts/walkway/walkway_semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_oblique_semibold-webfont.woff2') format('woff2'), url('../fonts/walkway/walkway_oblique_semibold-webfont.woff') format('woff'), url('../fonts/walkway/walkway_oblique_semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_oblique-webfont.woff2') format('woff2'), url('../fonts/walkway/walkway_oblique-webfont.woff') format('woff'), url('../fonts/walkway/walkway_oblique-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
[class^='ti-'],
[class*=' ti-'] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ti-menu:before {
  content: '\e68e';
}
.ti-car:before {
  content: '\e6b5';
}
.ti-world:before {
  content: '\e665';
}
.ti-comments-smiley:before {
  content: '\e726';
}
.ti-hand-open:before {
  content: '\e637';
}
.ti-angle-right:before {
  content: '\e649';
}
.ti-angle-left:before {
  content: '\e64a';
}
.header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  transition: all 0.4s ease-in-out;
}
.header__logo {
  width: 55px;
  height: 55px;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1200px) {
  .header__logo {
    width: 70px;
    height: 70px;
  }
}
.header__logo-img {
  max-width: 100%;
  height: auto;
}
.header.menu-shrink {
  background-color: #fff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
}
.header__link {
  font-family: 'Furore';
  font-size: 16px;
  color: #ebedf3;
  padding: 0;
  text-shadow: 1px 1px 2px #000;
  transition: all 0.3s ease;
  text-decoration: none;
}
.header__link:hover {
  color: #e1e4ec;
  text-decoration: underline;
}
.header__link:active {
  color: #c1c7d9;
  text-shadow: none;
  text-decoration: underline;
}
.header__link:focus {
  color: #ebedf3;
  text-shadow: -1px -1px 2px #000;
  text-decoration: none;
}
.header__link_highlighted {
  color: #fcbc5c;
}
.header.menu-shrink .header__link {
  color: #374983;
  text-shadow: none;
}
.header.menu-shrink .header__link:hover {
  color: #324276;
  text-decoration: underline;
}
.header.menu-shrink .header__link:active {
  color: #2c3a69;
  text-decoration: underline;
}
.header.menu-shrink .header__link:focus {
  color: #374983;
  text-decoration: none;
}
.header.menu-shrink .header__link_highlighted {
  border: 1px solid #fcbc5c;
  padding: 2px 7px 4px;
  border-radius: 10px;
  background-color: #fcbc5c;
}
.header-navbar__nav {
  justify-content: flex-end;
  align-items: center;
}
.header-navbar__toggler-icon {
  color: #ebedf3;
}
.header-navbar__toggler-icon i {
  font-size: 50px;
}
.header.menu-shrink .header-navbar__toggler-icon {
  color: #131a2e;
}
.header-navbar__nav-item {
  padding: 0 0 10px 10px;
}
.header__button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  font-size: 16px;
}
.main {
  min-height: 100vh;
}
.main__background {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: #293762 url('../img/css/components/section-main/main-bg-2.jpg') no-repeat center 140px / contain;
  position: relative;
  z-index: 2;
}
@media (max-width: 320px) {
  .main__background {
    background-position-y: top;
  }
}
@media (min-width: 576px) {
  .main__background {
    background-position-y: 165px;
  }
}
@media (min-width: 768px) {
  .main__background {
    background-position-y: 71px;
  }
}
@media (min-width: 992px) {
  .main__background {
    background-position-y: 40%;
    background-size: cover;
  }
}
.main__background::after {
  background: #000 none repeat scroll 0 0;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.main__content {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 80px;
}
@media (min-width: 576px) {
  .main__content {
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .main__content {
    padding-bottom: 80px;
  }
}
.main__content-mobile {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 100%;
  display: flex;
  padding: 30px 0;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: #293762;
}
@media (min-width: 576px) {
  .main__content-mobile {
    display: none;
  }
}
.main__content-mobile::after {
  background: #000 none repeat scroll 0 0;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.main__subtitle {
  margin-bottom: 30px;
}
.main__title {
  color: #ebedf3;
  align-self: flex-end;
  margin-bottom: 30px;
}
@media (min-width: 1440px) {
  .main__title {
    margin-bottom: 60px;
  }
}
.main__title-lg {
  color: #fff8ef;
  text-shadow: 1px 1px 2px #fcbc5c;
}
.main__title-sm {
  font-size: 26px;
}
@media (min-width: 768px) {
  .main__title-sm {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .main__title-sm {
    font-size: 40px;
  }
}
.main__title-second {
  color: #ebedf3;
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 576px) {
  .main__title-second {
    text-align: left;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .main__title-second {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}
.main__text {
  color: #fff8ef;
  max-width: 100%;
}
@media (min-width: 992px) {
  .main__text {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}
@media (min-width: 1200px) {
  .main__text {
    max-width: 80%;
  }
}
.main__text_desktop {
  display: none;
  font-weight: 800;
  letter-spacing: 2px;
}
@media (min-width: 576px) {
  .main__text_desktop {
    display: block;
    margin-bottom: 30px;
  }
}
.main__button-container {
  align-self: center;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@media (min-width: 992px) {
  .main__button-container {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
}
.main__button {
  background-color: #ebedf3;
}
.main__button:hover {
  background-color: #e1e4ec;
  box-shadow: 0px 0px 10px 2px #e3a953;
}
.about-us {
  position: relative;
  z-index: 2;
}
.about-us__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .about-us__wrapper {
    flex-direction: row;
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .about-us__wrapper {
    gap: 60px;
  }
}
.about-us__wrapper_1 {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .about-us__wrapper_1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
}
@media (min-width: 992px) {
  .about-us__wrapper_2 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
}
.about-us__sm {
  width: 100%;
}
@media (min-width: 576px) {
  .about-us__sm {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .about-us__sm {
    width: 40%;
  }
}
.about-us__lg {
  width: 100%;
}
@media (min-width: 576px) {
  .about-us__lg {
    width: 70%;
    align-self: center;
  }
}
@media (min-width: 992px) {
  .about-us__lg {
    width: 60%;
  }
}
.about-us__lg_right {
  padding-right: 10px;
}
@media (min-width: 576px) {
  .about-us__lg_right {
    padding-right: 0;
  }
}
.about-us__lg_left {
  padding-left: 10px;
}
.about-us__image {
  position: relative;
  z-index: 1;
}
.about-us__image_left {
  width: 70%;
}
@media (min-width: 576px) {
  .about-us__image_left {
    width: 100%;
  }
}
.about-us__image_right {
  width: 100%;
}
.about-us__image::after {
  background: black none repeat scroll 0 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: 2;
}
.about-us__img {
  height: auto;
  max-width: 100%;
}
.about-us__title {
  text-align: center;
  margin-bottom: 30px;
}
.about-us__text_right {
  box-shadow: 10px 10px 0px 0px #293762;
  padding: 20px 5px 10px 0;
}
@media (min-width: 576px) {
  .about-us__text_right {
    padding: 0 15px 20px 0;
  }
}
@media (min-width: 992px) {
  .about-us__text_right {
    padding: 0 40px 20px 0;
  }
}
.about-us__text_left {
  box-shadow: -10px 10px 0px 0px #293762;
  padding: 20px 0 10px 10px;
}
@media (min-width: 576px) {
  .about-us__text_left {
    padding: 0 0 15px 15px;
  }
}
@media (min-width: 992px) {
  .about-us__text_left {
    padding: 0 0 20px 40px;
  }
}
.mission {
  position: relative;
  z-index: 2;
}
.mission__wrapper {
  display: flex;
  flex-direction: column;
}
.mission__gap {
  margin-top: 30px;
}
.mission__title {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .mission__title {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
}
.mission__text {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .mission__text {
    max-width: 85%;
  }
}
@media (min-width: 1200px) {
  .mission__text {
    max-width: 70%;
  }
}
.mission__subtitle {
  align-self: flex-end;
  margin: 30px 0;
}
@media (min-width: 992px) {
  .mission__subtitle {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
}
.mission__card {
  background-color: #fff8ef;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  padding: 40px 40px 40px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease 0s;
  z-index: 1;
  cursor: pointer;
  min-height: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 576px) {
  .mission__card {
    min-height: 300px;
    justify-content: start;
  }
}
@media (min-width: 576px) {
  .mission__card {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (min-width: 1440px) {
  .mission__card {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.mission__card:hover {
  background-color: #feeacc;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
}
.mission__card-icon {
  margin-bottom: 22px;
}
.mission__card-icon i {
  color: #131a2e;
  font-size: 61px;
  line-height: 70px;
  transition: all 0.3s ease 0s;
}
.mission__card-text {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 18px;
}
@media (min-width: 992px) {
  .mission__card-text {
    font-size: 20px;
  }
}
.programs__title {
  text-align: center;
  margin-bottom: 30px;
}
.programs__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.programs__left {
  width: 100%;
}
@media (min-width: 768px) {
  .programs__left {
    width: 60%;
  }
}
.programs__right {
  width: 100%;
}
@media (min-width: 768px) {
  .programs__right {
    width: 35%;
    align-self: center;
  }
}
.programs__logo {
  max-width: 300px;
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
}
.programs__button {
  margin: 20px auto 0;
}
@media (min-width: 768px) {
  .programs__button {
    margin-top: 30px;
  }
}
.programs__text {
  text-align: center;
}
@media (min-width: 768px) {
  .programs__text {
    text-align: left;
  }
}
.goals {
  background: rgba(0, 0, 0, 0) url('../img/css/components/section-goals/goals-bg.jpg') no-repeat fixed 20% center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
@media (min-width: 576px) {
  .goals {
    padding: 100px 0;
  }
}
@media (min-width: 992px) {
  .goals {
    padding: 100px 0;
    background-position-x: center;
  }
}
.goals::after {
  background: #fff8ef none repeat scroll 0 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.goals__wrapper {
  display: flex;
  flex-direction: column;
}
.goals__title {
  margin: 0 0 30px;
}
.goals__subtitle {
  align-self: flex-end;
  margin: 20px 0;
}
.goals__text {
  width: 100%;
  font-weight: 800;
}
.goals__text_left {
  max-width: 100%;
}
@media (min-width: 576px) {
  .goals__text_left {
    max-width: 85%;
  }
}
@media (min-width: 768px) {
  .goals__text_left {
    max-width: 70%;
  }
}
.goals__text_right {
  max-width: 95%;
  align-self: flex-end;
  padding: 0 0 10px 20px;
  box-shadow: -10px 10px 0px 0px #293762;
}
@media (min-width: 576px) {
  .goals__text_right {
    max-width: 80%;
    padding: 0 0 15px 25px;
  }
}
.careers {
  position: relative;
  z-index: 2;
}
.careers__title,
.careers__subtitle {
  text-align: center;
  margin-bottom: 30px;
}
.careers__button {
  margin: 0 auto;
}
.careers__text {
  text-align: center;
  margin-bottom: 60px;
}
.careers__link {
  font-weight: 900;
  color: #2c3a69;
}
.volunteer {
  background: rgba(0, 0, 0, 0) url('../img/css/components/section-volunteer/volunteer-bg.jpg') no-repeat fixed center center / cover;
  position: relative;
  z-index: 2;
}
@media (min-width: 576px) {
  .volunteer {
    padding: 100px 0;
  }
}
.volunteer::after {
  background: #fff8ef none repeat scroll 0 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.volunteer__wrapper {
  display: flex;
  flex-direction: column;
}
.volunteer__title {
  margin: 0 0 30px;
}
.volunteer__text {
  width: 100%;
  font-weight: 800;
  margin-bottom: 60px;
}
.volunteer__text_left {
  max-width: 100%;
}
@media (min-width: 576px) {
  .volunteer__text_left {
    max-width: 70%;
  }
}
.volunteer__text_right {
  max-width: 95%;
  align-self: flex-end;
  padding: 0 0 10px 20px;
  box-shadow: -10px 10px 0px 0px #293762;
}
@media (min-width: 576px) {
  .volunteer__text_right {
    max-width: 80%;
    padding: 0 0 15px 25px;
  }
}
.volunteer__button {
  margin-top: 30px;
  align-self: center;
}
@media (min-width: 576px) {
  .volunteer__button {
    margin-top: 60px;
  }
}
.bottom {
  position: relative;
  z-index: 2;
  padding-top: 0;
}
@media (min-width: 1200px) {
  .bottom {
    padding-top: 100px;
  }
  .bottom:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff8ef url('../img/css/components/section-bottom/bottom-bg-1.jpg') no-repeat center center / cover;
  }
}
.bottom__background-mobile {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .bottom__background-mobile {
    display: none;
  }
}
.bottom__wrapper {
  display: flex;
}
.bottom__left {
  width: 100%;
}
@media (min-width: 1200px) {
  .bottom__left {
    width: 45%;
  }
}
.bottom__title {
  color: #293762;
  text-shadow: 1px 1px 2px #fcbc5c;
  text-align: center;
  margin: 0 0 30px;
}
@media (min-width: 576px) {
  .bottom__title {
    font-size: 46px;
  }
}
@media (min-width: 992px) {
  .bottom__title {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .bottom__title {
    margin-bottom: 60px;
    text-align: left;
    text-shadow: none;
  }
}
.bottom__button {
  margin: 0 auto 20px;
}
@media (min-width: 768px) {
  .bottom__button {
    margin-bottom: 30px;
  }
}
.bottom__text {
  width: 85%;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .bottom__text {
    width: 100%;
    text-align: left;
  }
}
.footer {
  padding: 20px 0;
  background-color: #374983;
  position: relative;
  z-index: 2;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 576px) {
  .footer__wrapper {
    flex-direction: row;
  }
}
.footer__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  order: 2;
}
@media (min-width: 576px) {
  .footer__content {
    flex-direction: column;
    align-items: flex-start;
    order: 1;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 576px) {
  .footer__socials {
    gap: 20px;
  }
}
.footer__socials-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
@media (min-width: 576px) {
  .footer__socials-link {
    width: 50px;
    height: 50px;
  }
}
.footer__socials-link:hover,
.footer__socials-link:active,
.footer__socials-link:visited {
  text-decoration: none;
}
.footer__socials-link_fb {
  background: url('../img/css/components/footer/fb.svg') no-repeat center center / cover;
}
.footer__socials-link_in {
  background: url('../img/css/components/footer/in.svg') no-repeat center center / cover;
}
.footer__contacts {
  order: 1;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .footer__contacts {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 0 0 auto;
    order: 2;
  }
}
.footer__info {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}
@media (min-width: 576px) {
  .footer__info {
    font-size: 16px;
  }
}
