<section id="programs" class="programs section section_orange">
  <div class="container">
    <h2 class="h2 programs__title section__title section__title_blue">Programs</h2>
    <div class="programs__wrapper wow animate__animated animate__fadeInUp">
      <div class="programs__left">
        <p class="programs__text">
          <b>Elevate</b> is&nbsp;designed to&nbsp;fill the leadership void in&nbsp;Calgary&rsquo;s local tech sector
          by&nbsp;empowering immigrant tech pioneers. Our goal is&nbsp;to&nbsp;bring experienced and high-performing
          leaders to&nbsp;Calgary&rsquo;s startups and scale-ups. By&nbsp;nurturing immigrant tech leaders and
          cultivating Canadian leadership proficiency and cultural acumen, we&nbsp;aim to&nbsp;foster success
          in&nbsp;Calgary&rsquo;s dynamic tech ecosystem, for both leaders and the community.
        </p>
      </div>
      <div class="programs__right">
        <div class="programs__logo">
          <img src="img/css/components/section-programs/elevate-logo.svg" alt="elevate" />
        </div>
      </div>
    </div>
  </div>
</section>
