<section class="about-us section section_blue">
  <div class="container">
    <div class="about-us__wrapper">
      <div class="about-us__left">
        <img src="img/css/components/section-about-us/about-us.png" alt="people about us" class="about-us__image" />
      </div>
      <div class="about-us__right">
        <h2 class="h2 about-us__title">Our story</h2>
        <p class="about-us__text">
          In&nbsp;2019, Wunmi Adekanmbi took her first curious steps into the vibrant Alberta tech scene, little knowing
          the incredible journey that lay ahead. To&nbsp;her delight, she stumbled upon a&nbsp;thriving and innovative
          community driven by&nbsp;a&nbsp;powerful social contract of&nbsp;giving first. Embraced by&nbsp;a&nbsp;strong
          support system and invaluable industry connections for startups, Calgary was on&nbsp;the cusp
          of&nbsp;transforming its economy, shifting from an&nbsp;oil and gas legacy to&nbsp;embrace the boundless
          potential of&nbsp;the tech industry.
        </p>
        <p class="about-us__text">
          However, amidst the warmth and welcome, Wunmi couldn&rsquo;t ignore a&nbsp;significant issue&nbsp;&mdash; the
          lack of&nbsp;diversity in&nbsp;the Alberta tech community, with only a&nbsp;handful of&nbsp;individuals who
          shared her background. Though she felt embraced, she also recognized that she wasn&rsquo;t explicitly invited
          to&nbsp;the table. Determined to&nbsp;change this narrative, Wunmi knew it&nbsp;was time to&nbsp;extend
          a&nbsp;heartfelt invitation to&nbsp;immigrants and newcomers like herself, and&nbsp;so, Immigrant Techies
          Alberta was born.
        </p>
      </div>
    </div>
  </div>
</section>
