.about-us__wrapper {
  display: flex;

  &_1 {
    animation-delay: 0.2s;
    margin-bottom: 30px;
  }

  &_2 {
    animation-delay: 0.5s;
  }
}

.about-us__sm {
  width: 30%;
}

.about-us__lg {
  width: 70%;
}

.about-us__image {
  width: 100%;
  position: relative;
  z-index: 1;

  &::after {
    background: #000 none repeat scroll 0 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

.about-us__img {
  max-width: 100%;
  height: auto;
}

.about-us__title {
  text-align: center;
  color: @blue-dark;
  margin-bottom: 30px;
}

.about-us__text {
  &_right {
    padding-left: 40px;
  }
  &_left {
    padding-right: 40px;
  }
}
