<section id="about" class="about-us section section_orange">
  <div class="container">
    <h2 class="h2 about-us__title section__title section__title_blue">Our story</h2>
    <div class="wow animate__animated animate__fadeInUp about-us__wrapper about-us__wrapper_1">
      <div class="about-us__sm">
        <div class="about-us__image about-us__image_left">
          <img src="img/css/components/section-about-us/about-us-1.jpg" alt="wunmi" class="about-us__img" />
        </div>
      </div>
      <div class="about-us__lg about-us__lg_right">
        <p class="about-us__text about-us__text_right">
          In&nbsp;2019, Wunmi Adekanmbi took her first steps into Alberta&rsquo;s dynamic tech landscape, unaware
          of&nbsp;the remarkable journey ahead. She discovered a&nbsp;vibrant, innovative community driven by&nbsp;the
          principle of&nbsp;giving first. Though she felt embraced, she also recognized that she wasn&rsquo;t explicitly
          invited.
        </p>
      </div>
    </div>
    <div class="wow animate__animated animate__fadeInUp about-us__wrapper about-us__wrapper_2">
      <div class="about-us__lg about-us__lg_left order-sm-1 order-2">
        <p class="about-us__text about-us__text_left">
          Despite the warmth and support, Wunmi recognized the need for greater diversity. So, she extended
          a&nbsp;heartfelt invitation to&nbsp;immigrants like herself&nbsp;&mdash; founding Immigrant Techies Alberta.
        </p>
      </div>
      <div class="about-us__sm order-sm-2 order-1">
        <div class="about-us__image about-us__image_right">
          <img src="img/css/components/section-about-us/about-us-2.jpg" alt="people hands" class="about-us__img" />
        </div>
      </div>
    </div>
  </div>
</section>
