<header id="header" class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <a href="index.html" class="navbar-brand header__logo">
        <img src="img/css/components/header/logo.svg" alt="Logo" class="header__logo-img" />
      </a>
      <button
        class="header-navbar__toggler d-block d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="header-navbar__toggler-icon">
          <i class="ti-menu"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="header-navbar__nav navbar-nav flex-row flex-wrap ms-auto mt-2 mt-lg-0">
          <li class="header-navbar__nav-item"><a href="#about" class="header__link">About</a></li>
          <li class="header-navbar__nav-item"><a href="#mission" class="header__link">Mission</a></li>
          <li class="header-navbar__nav-item"><a href="#goals" class="header__link">Goal</a></li>
          <li class="header-navbar__nav-item"><a href="#programs" class="header__link">Programs</a></li>
          <li class="header-navbar__nav-item"><a href="#events" class="header__link">Events</a></li>
          <li class="header-navbar__nav-item"><a href="#volunteer" class="header__link">Volunteer</a></li>
          <li class="header-navbar__nav-item"><a href="#contacts" class="header__link">Contacts</a></li>
          <li class="header-navbar__nav-item">
            <a href="https://forms.gle/2dYGpneCRRtYKMx77" target="_blank" class="button button_orange header__button">
              Join our mailing list
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
