.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 20px 0;
  background-color: @blue-normal;
}

.header__wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;

  @media @screen-gt-s {
    column-gap: 30px;
  }
}

.header__logo {
  display: block;
  width: 40px;
  height: 40px;
  background: url('../img/css/components/header/logo.svg') no-repeat center / contain;
  cursor: pointer;

  @media @screen-gt-s {
    width: 60px;
    height: 60px;
  }
}

.header__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__link {
  color: @orange;
  &:hover {
    color: @orange-hover;
  }
  &:visited {
    color: @orange-active;
  }
}
