<section class="mission section section_orange">
  <div class="container">
    <div class="mission__wrapper">
      <div class="mission__left">
        <h2 class="h2 mission__title">Our mission</h2>
        <h3 class="h3 mission__subtitle section__subtitle section__subtitle_blue">What we represent</h3>
        <p class="mission__text">&mdash;&nbsp;A&nbsp;bridge into Alberta&rsquo;s innovation community</p>
        <p class="mission__text">&mdash;&nbsp;An&nbsp;exploratory space for those interested in&nbsp;tech</p>
        <p class="mission__text">&mdash;&nbsp;Opportunities for networking and mentorship</p>
        <p class="mission__text">
          &mdash;&nbsp;Curator of&nbsp;emerging tech content, events, resources and career opportunities
        </p>
      </div>
      <div class="mission__right">
        <img src="img/css/components/section-mission/mission.png" alt="people" class="mission__image" />
      </div>
    </div>
  </div>
</section>
