.mission__wrapper {
  display: flex;
}

.mission__left {
  width: 40%;
}

.mission__right {
  width: 60%;
}

.mission__title {
  color: @blue-dark;
  margin: 30px 0 60px;
}

.mission__subtitle {
  margin-bottom: 30px;
}

.mission__text {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
