<section id="mission" class="mission section section_blue">
  <div class="container">
    <div class="mission__wrapper">
      <h2 class="wow animate__animated animate__fadeInUp h2 mission__title section__title section__title_orange">
        Our mission
      </h2>
      <p class="wow animate__animated animate__fadeInUp mission__text">
        We&nbsp;are your gateway to&nbsp;Alberta&rsquo;s innovation community, offering networking, mentorship, coaching
        and tech exploration opportunities.
      </p>
      <h3
        class="wow animate__animated animate__fadeInUp h3 mission__subtitle section__subtitle section__subtitle_orange"
      >
        What we represent
      </h3>
      <div class="row">
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="wow animate__animated animate__fadeInUp mission__card">
            <div class="mission__card-icon">
              <i class="ti-car"></i>
            </div>
            <p class="mission__card-text">A&nbsp;bridge into Alberta&rsquo;s innovation community</p>
          </div>
        </div>
        <div class="col-12 d-sm-none">
          <div class="mission__gap"></div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="wow animate__animated animate__fadeInUp mission__card">
            <div class="mission__card-icon">
              <i class="ti-world"></i>
            </div>
            <p class="mission__card-text">An&nbsp;exploratory space for those interested in&nbsp;tech</p>
          </div>
        </div>
        <div class="col-12 d-xl-none">
          <div class="mission__gap"></div>
        </div>
        <div class="col col-sm-6 col-xl-3">
          <div class="wow animate__animated animate__fadeInUp mission__card">
            <div class="mission__card-icon">
              <i class="ti-comments-smiley"></i>
            </div>
            <p class="mission__card-text">Opportunities for networking and mentorship</p>
          </div>
        </div>
        <div class="col-12 d-sm-none">
          <div class="mission__gap"></div>
        </div>
        <div class="col col-sm-6 col-xl-3">
          <div class="wow animate__animated animate__fadeInUp mission__card">
            <div class="mission__card-icon">
              <i class="ti-hand-open"></i>
            </div>
            <p class="mission__card-text">
              Curator of&nbsp;emerging tech content, events, resources and career opportunities
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
