<section class="reviews section section_orange">
  <div class="container">
    <h2 class="h2 reviews__title">Reviews</h2>
    <div class="reviews__wrapper">
      <div class="reviews__container">
        <div class="reviews__card">
          <h4 class="h4 reviews__card-title">Alice</h4>
          <div class="reviews__card-bar">
            <div class="reviews__card-bar-empty"></div>
            <div class="reviews__card-bar-filled"></div>
          </div>
          <div class="reviews__card-text">
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur lorem ex,
            porta eget venenatis at, venenatis non velit.
          </div>
          <div class="reviews__card-circle">
            <img src="img/css/components/section-reviews/review-default.svg" alt="" class="reviews__image" />
          </div>
        </div>
        <div class="reviews__card">
          <h4 class="h4 reviews__card-title">Andy Nguyen</h4>
          <div class="reviews__card-bar">
            <div class="reviews__card-bar-empty"></div>
            <div class="reviews__card-bar-filled"></div>
          </div>
          <div class="reviews__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla enim, et gravida massa. Vivamus
            tortor nibh, dictum sit amet congue nec, placerat sollicitudin nibh.
          </div>
          <div class="reviews__card-circle">
            <img src="img/css/components/section-reviews/review-default.svg" alt="" class="reviews__image" />
          </div>
        </div>
        <div class="reviews__card">
          <h4 class="h4 reviews__card-title">Jin Meng</h4>
          <div class="reviews__card-bar">
            <div class="reviews__card-bar-empty"></div>
            <div class="reviews__card-bar-filled"></div>
          </div>
          <div class="reviews__card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id fringilla enim, et gravida massa.
          </div>
          <div class="reviews__card-circle">
            <img src="img/css/components/section-reviews/review-default.svg" alt="" class="reviews__image" />
          </div>
        </div>
        <div class="reviews__card">
          <h4 class="h4 reviews__card-title">Anoop Malhotra</h4>
          <div class="reviews__card-bar">
            <div class="reviews__card-bar-empty"></div>
            <div class="reviews__card-bar-filled"></div>
          </div>
          <div class="reviews__card-text">
            Aenean accumsan non lorem sit amet commodo. Curabitur leo risus, ultrices nec dignissim sed, fermentum
            iaculis est. Quisque nec velit a ante posuere venenatis. Quisque pellentesque turpis at urna ultricies, sed
            blandit enim sodales.
          </div>
          <div class="reviews__card-circle">
            <img src="img/css/components/section-reviews/review-default.svg" alt="" class="reviews__image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
