<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__content">
        <div class="footer__socials">
          <a
            href="https://www.facebook.com/ImmigrantTech"
            target="_blank"
            class="footer__socials-link footer__socials-link_fb"
          ></a>
          <a
            href="https://www.linkedin.com/company/immigrant-techies-alberta/"
            target="_blank"
            class="footer__socials-link footer__socials-link_in"
          ></a>
        </div>
        <div class="footer__info">&copy;2023 Immigrant Techies</div>
      </div>
      <div class="footer__contacts">
        <a href="https://forms.gle/2dYGpneCRRtYKMx77" target="_blank" class="button button_orange footer__email"
          >Join our mailing list</a
        >
      </div>
    </div>
  </div>
</footer>
