<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__socials">
        <a href="/" class="footer__socials-link footer__socials-link_fb"></a>
        <a href="/" class="footer__socials-link footer__socials-link_in"></a>
        <a href="/" class="footer__socials-link footer__socials-link_inst"></a>
      </div>
      <div class="footer__contacts">
        <h4 class="h4">Contacts:</h4>
        <a href="mailto:immigranttechiesab@gmail.com" class="footer__email">immigranttechiesab@gmail.com</a>
      </div>
    </div>
    <div class="footer__info">©2023&nbsp;Immigrant Techies. <a href="/" class="footer__politics">Our Policy</a></div>
  </div>
</footer>
