.goals {
  background: rgba(0, 0, 0, 0) url('../img/css/components/section-goals/goals-bg.jpg') no-repeat fixed 20% center;
  background-size: cover;
  position: relative;
  z-index: 1;

  @media @screen-gt-s {
    padding: 100px 0;
  }

  @media @screen-gt-l {
    padding: 100px 0;
    background-position-x: center;
  }

  &::after {
    background: @orange-light none repeat scroll 0 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.goals__wrapper {
  display: flex;
  flex-direction: column;
}

.goals__title {
  margin: 0 0 30px;
}

.goals__subtitle {
  align-self: flex-end;
  margin: 20px 0;
}

.goals__text {
  width: 100%;

  &_left {
    max-width: 100%;
    font-weight: 600;

    @media @screen-gt-s {
      max-width: 85%;
    }

    @media @screen-gt-m {
      max-width: 70%;
    }
  }

  &_right {
    max-width: 95%;
    align-self: flex-end;
    padding: 0 0 10px 20px;
    box-shadow: -10px 10px 0px 0px @blue-dark;

    @media @screen-gt-s {
      max-width: 80%;
      padding: 0 0 15px 25px;
    }
  }
}
