<section id="goals" class="goals section">
  <div class="container">
    <div class="goals__wrapper">
      <h2 class="h2 goals__title section__title section__title_blue">Our goal</h2>
      <p class="wow animate__animated animate__fadeInLeft goals__text goals__text_left">
        We&nbsp;provide community and support for professional immigrants who desire to&nbsp;pivot
        to&nbsp;or&nbsp;advance in&nbsp;tech careers and businesses.
      </p>
      <h3 class="h3 goals__subtitle section__subtitle section__subtitle_blue">Our vision</h3>
      <p class="wow animate__animated animate__fadeInRight goals__text goals__text_right">
        We&nbsp;are a&nbsp;vibrant, inclusive tech community where immigrant professionals leverage their diverse
        backgrounds and experiences to&nbsp;make a&nbsp;meaningful impact on&nbsp;the Alberta tech sector. We&nbsp;are
        the go-to platform for connecting immigrants in&nbsp;tech, facilitating collaborations, and promoting equal
        opportunities for every member, regardless of&nbsp;their cultural background.
      </p>
    </div>
  </div>
</section>
