<section id="goals_area" class="goals">
  <div class="container">
    <div class="goals__wrapper">
      <h2 class="h2 goals__title">Our goals</h2>
      <p class="goals__text goals__text_left">
        Providing community and support for professional immigrants who desire to&nbsp;pivot to&nbsp;or&nbsp;advance
        in&nbsp;tech careers.
      </p>
      <h3 class="h3 goals__subtitle section__subtitle section__subtitle_blue">Our vision</h3>
      <p class="goals__text goals__text_right">
        To&nbsp;create a&nbsp;vibrant and cohesive tech community where immigrant professionals can harness their
        diverse backgrounds, skills, and experiences to&nbsp;make meaningful contributions to&nbsp;the technology
        sector. We&nbsp;aspire to&nbsp;be&nbsp;the go-to platform for connecting immigrants in&nbsp;tech, facilitating
        collaborations, and promoting equal opportunities for every member, regardless of&nbsp;their cultural
        background.
      </p>
    </div>
  </div>
</section>
