<section id="careers" class="careers section section_blue">
  <div class="container">
    <h2 class="h2 careers__title section__title section__title_orange">Careers</h2>
    <h4 class="h4 careers__subtitle">We are seeking a Technical Program Manager</h4>
    <p class="careers__text">
      Learn more <a href="jobs/job-description.pdf" target="_blank" class="careers__link">here</a>.
    </p>
    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSefJoB8fayPTT_0CN4fYOFZX2tZc5GGCELCZCMUfz2kRF4jew/viewform"
      target="_blank"
      class="wow animate__animated animate__fadeInUp button button_blue careers__button"
    >
      Apply for a job
    </a>
  </div>
</section>
