<section class="main section section_orange">
  <div class="container">
    <div class="main__wrapper">
      <div class="main__left">
        <h1 class="h1 main__title">Immigtant Techies</h1>
        <h3 class="h3 main__subtitle section__subtitle section__subtitle_blue">Who we are</h3>
        <p class="main__text">
          A&nbsp;tech enthusiast group for highly-skilled immigrants: those who like to&nbsp;support others, who are
          already in&nbsp;or are interested in&nbsp;pivoting to&nbsp;tech careers and startups. We&nbsp;will
          be&nbsp;hosting online and in-person events on&nbsp;a range of&nbsp;tech topics. Looking forward
          to&nbsp;exploring and networking with immigrants far and wide.
        </p>
        <button type="button" class="button button_blue main__button">Join our talent pool</button>
      </div>
      <div class="main__right">
        <img src="img/css/components/section-main/main.png" alt="people" class="main__image" />
      </div>
    </div>
  </div>
</section>
