<section id="section-main" class="main">
  <div class="main__background">
    <div class="container">
      <div class="main__content">
        <h3 class="wow animate__animated animate__fadeInLeft main__subtitle section__subtitle section__subtitle_orange">
          Who we are
        </h3>
        <h1 class="wow animate__animated animate__fadeInLeft h1 main__title">Immigrant Techies</h1>
        <p class="wow animate__animated animate__fadeInLeft main__text">
          A&nbsp;tech enthusiast group for highly-skilled immigrants: those who like to&nbsp;support others, who are
          already in&nbsp;or are interested in&nbsp;pivoting to&nbsp;tech careers and startups. We&nbsp;will
          be&nbsp;hosting online and in-person events on&nbsp;a range of&nbsp;tech topics. Looking forward
          to&nbsp;exploring and networking with immigrants far and wide.
        </p>
        <button type="button" class="wow animate__animated animate__fadeInUp button button_blue main__button">
          Join our talent pool
        </button>
      </div>
    </div>
  </div>
</section>
