<section id="section-main" class="main">
  <div class="main__background">
    <div class="container">
      <div class="main__content">
        <h1 class="wow animate__animated animate__fadeInRight h1 main__title">
          <span class="main__title-lg">Immigrant Techies Alberta</span>
        </h1>
        <h4 class="wow animate__animated animate__fadeInLeft h4 main__title-second">
          Join Our Community of&nbsp;Immigrant Professionals Passionate About Tech
        </h4>
        <p class="wow animate__animated animate__fadeInLeft main__text main__text_desktop">
          A&nbsp;community of&nbsp;immigrant tech enthusiasts who are already in&nbsp;or&nbsp;are interested
          in&nbsp;pivoting to&nbsp;tech careers and startups. We&nbsp;host virtual and in-person events
          on&nbsp;a&nbsp;range of&nbsp;tech, innovation and future-readiness topics. Looking forward to&nbsp;exploring
          and networking with immigrants far and wide.
        </p>
        <div class="wow animate__animated animate__fadeInUp main__button-container">
          <a href="https://forms.gle/uMwsjLrQkCZNJ1Ca6" target="_blank" class="button button_blue main__button">
            Join our talent pool
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="main__content-mobile">
    <div class="container">
      <h3
        class="wow animate__animated animate__fadeInLeft h3 main__subtitle section__subtitle section__subtitle_orange"
      >
        Who we are
      </h3>
      <p class="main__text">
        A&nbsp;community of&nbsp;immigrant tech enthusiasts who are already in&nbsp;or&nbsp;are interested
        in&nbsp;pivoting to&nbsp;tech careers and startups. We&nbsp;host virtual and in-person events
        on&nbsp;a&nbsp;range of&nbsp;tech, innovation and future-readiness topics. Looking forward to&nbsp;exploring and
        networking with immigrants far and wide.
      </p>
    </div>
  </div>
</section>
