.main {
  min-height: 100vh;
}

.main__background {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: @blue-dark url('../img/css/components/section-main/main-bg-2.jpg') no-repeat center 140px / contain;
  position: relative;
  z-index: 2;

  @media (max-width: 320px) {
    background-position-y: top;
  }

  @media @screen-gt-s {
    background-position-y: 165px;
  }

  @media @screen-gt-m {
    background-position-y: 71px;
  }

  @media @screen-gt-l {
    background-position-y: 40%;
    background-size: cover;
  }

  &::after {
    background: @black none repeat scroll 0 0;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
  }
}

.main__content {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 80px;

  @media @screen-gt-s {
    padding-bottom: 100px;
  }

  @media @screen-gt-xl {
    padding-bottom: 80px;
  }
}

.main__content-mobile {
  min-height: fit-content;
  height: 100%;
  display: flex;
  padding: 30px 0;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: @blue-dark;

  @media @screen-gt-s {
    display: none;
  }

  &::after {
    background: @black none repeat scroll 0 0;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
  }
}

.main__subtitle {
  margin-bottom: 30px;
}

.main__title {
  color: @blue-light;
  align-self: flex-end;
  margin-bottom: 30px;

  @media @screen-gt-xxl {
    margin-bottom: 60px;
  }
}

.main__title-lg {
  color: @orange-light;
  text-shadow: 1px 1px 2px @orange;
}

.main__title-sm {
  font-size: 26px;

  @media @screen-gt-m {
    font-size: 32px;
  }
  @media @screen-gt-l {
    font-size: 40px;
  }
}

.main__title-second {
  color: @blue-light;
  margin-bottom: 30px;
  text-align: center;

  @media @screen-gt-s {
    text-align: left;
    margin-bottom: 20px;
  }

  @media @screen-gt-l {
    animation-delay: 1s;
  }
}

.main__text {
  color: @orange-light;
  max-width: 100%;

  @media @screen-gt-l {
    animation-delay: 1s;
  }

  @media @screen-gt-xl {
    max-width: 80%;
  }

  &_desktop {
    display: none;
    font-weight: 800;
    letter-spacing: 2px;

    @media @screen-gt-s {
      display: block;
      margin-bottom: 30px;
    }
  }
}

.main__button-container {
  align-self: center;
  animation-delay: 0.5s;

  @media @screen-gt-l {
    animation-delay: 1.5s;
  }
}

.main__button {
  background-color: @blue-light;

  &:hover {
    background-color: @blue-light-hover;
    box-shadow: 0px 0px 10px 2px @orange-hover;
  }
}
