.main {
  min-height: 100vh;
  padding-top: 120px;
}

.main__wrapper {
  display: flex;
}

.main__left {
  width: 40%;
}

.main__right {
  width: 60%;
  display: flex;
  align-items: center;
}

.main__title {
  color: @blue-dark;
  margin: 30px 0 60px;
}

.main__subtitle {
  margin-bottom: 30px;
}

.main__text {
  margin-bottom: 30px;
}