<section class="events section section_blue">
  <div class="container">
    <h2 class="h2 events__title">Our events</h2>
    <div class="events__wrapper">
      <div class="events__tabs">
        <input type="radio" name="tabs" id="tabone" checked="checked" />
        <label for="tabone" class="events__tabs-label">Upcoming</label>
        <div class="events__tab">
          <h4 class="h4 events__tab-title">How to&nbsp;Tackle the Canadian Job Market as&nbsp;a&nbsp;Newcomer</h4>
          <p class="events__tab-text">2023, November 27</p>
          <div class="events__tab-image">
            <img src="img/css/components/section-events/event-2023-06-27.jpg" alt="event-2023-06-27" />
          </div>
        </div>

        <input type="radio" name="tabs" id="tabtwo" />
        <label for="tabtwo" class="events__tabs-label">Past</label>
        <div class="events__tab">
          <h4 class="h4 events__tab-title">
            International Students: How to&nbsp;Grow a&nbsp;Network of&nbsp;Employers
          </h4>
          <p class="events__tab-text">2023, July 26</p>
          <div class="events__tab-image">
            <img src="img/css/components/section-events/event-2023-07-26.jpg" alt="event-2023-07-26" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
