<section id="events" class="events section section_blue">
  <div class="container">
    <h2 class="h2 events__title section__title section__title_orange">Events</h2>
    <div class="events__wrapper">
      <div class="wow animate__animated animate__fadeInUp events__tabs">
        <input type="radio" name="tabs" id="tabone" checked="checked" />
        <label for="tabone" class="events__tabs-label">Upcoming</label>
        <div class="events__tab">
          <div class="events__tab-container">
            <div class="events__tab-image">
              <img src="img/css/components/section-events/event-2023-11-21.jpg" alt="event-2023-11-21" />
            </div>
            <div class="events__tab-details">
              <h4 class="h4 events__tab-title">Immigrant Founders Stories</h4>
              <div class="events__tab-text events__tab-text_title">Date:</div>
              <p class="events__tab-text">2023, November&nbsp;21</p>
              <div class="events__tab-text events__tab-text_title">Time:</div>
              <p class="events__tab-text">4:30 PM to 6:30 PM MST</p>
              <div class="events__tab-text events__tab-text_title">Venue:</div>
              <p class="events__tab-text">
                <a class="events__tab-link" href="https://maps.app.goo.gl/s8Zt9UqLNhcQoLpw7" target="_blank"
                  >Open Learning Lab Bow Valley Square</a
                >
                205 5&nbsp;Ave&nbsp;SW Suite 400, Tower&nbsp;2, Calgary, AB&nbsp;T2P&nbsp;3G6
              </p>
              <a
                href="https://lu.ma/uurxdusv"
                target="_blank"
                class="wow animate__animated animate__fadeInUp button button_blue events__tab-button"
              >
                Register
              </a>
            </div>
          </div>
        </div>

        <input type="radio" name="tabs" id="tabtwo" />
        <label for="tabtwo" class="events__tabs-label">Past</label>
        <div class="events__tab">
          <div class="events__tab-container">
            <div class="events__tab-image">
              <img src="img/css/components/section-events/event-2023-11-01.jpg" alt="event-2023-11-01" />
            </div>
            <div class="events__tab-details">
              <h4 class="h4 events__tab-title">International students connect: your place in&nbsp;Alberta tech</h4>
              <div class="events__tab-text events__tab-text_title">Date:</div>
              <p class="events__tab-text">2023, November&nbsp;1</p>
              <div class="events__tab-text events__tab-text_title">Time:</div>
              <p class="events__tab-text">4:00 PM to 6:00 PM MST</p>
              <div class="events__tab-text events__tab-text_title">Venue:</div>
              <p class="events__tab-text">
                <a class="events__tab-link" href="https://maps.app.goo.gl/QwGnnnZeaKSeHaCQ9" target="_blank"
                  >Platform Innovation Centre</a
                >
                407 9&nbsp;Ave&nbsp;SE, Calgary,&nbsp;AB
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
