.events {
  position: relative;
  z-index: 2;
}

.events__wrapper {
  display: flex;
  justify-content: center;
}

.events__title {
  text-align: center;
  margin-bottom: 30px;
}

.events__tab-container {
  display: flex;
  flex-wrap: wrap;
}

.events__tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.events__tabs-label {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  margin-right: 0.2rem;
  margin-bottom: 0;
  font-family: 'Furore';
  color: @blue-darker;
  cursor: pointer;
  background: @white;
  font-weight: bold;
  transition: background ease 0.3s;

  @media @screen-gt-s {
    padding: 16px 20px;
  }
}

.events__tab {
  order: 9;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: @orange-light;
  box-shadow: -10px 10px 0px 0px @blue-dark;
  min-height: 300px;

  @media @screen-gt-s {
    padding: 2rem;
  }

  &_past {
    padding: 2rem 1rem;
    padding-bottom: 0;
  }
}

.events__tabs input[type='radio'] {
  display: none;
}

.events__tabs input[type='radio']:checked + .events__tabs-label {
  background-color: @orange-light;
}

.events__tabs input[type='radio']:checked + .events__tabs-label + .events__tab {
  display: block;
}

.events__tab-image {
  width: 100%;
  margin-bottom: 20px;

  @media @screen-gt-s {
    max-width: 35%;
    margin-bottom: 0;
  }
  @media @screen-gt-m {
    max-width: 40%;
  }
}

.events__tab-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media @screen-gt-s {
    max-width: 65%;
    padding-left: 20px;
  }

  @media @screen-gt-m {
    max-width: 60%;
  }

  @media @screen-gt-l {
    padding-left: 40px;
  }
}

.events__tab-title {
  margin-bottom: 30px;

  @media @screen-gt-xl {
    margin-bottom: 60px;
  }
}

.events__tab-text {
  &_title {
    font-weight: 900;
  }
}

.events__tab-button {
  align-self: center;
  margin-top: 30px;
}

.events__tab-link {
  display: block;
  text-decoration: none;
  color: @blue-dark;

  &:hover {
    text-decoration: underline;
    color: @blue-dark-hover;
  }
}

.events__empty {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  @media @screen-gt-l {
    max-width: 80%;
  }
}

.events__tab_past {
  & .events__tab-text_time,
  & .events__tab-text_venue,
  & .events__tab-button {
    display: none;
  }
}

//swiper
.events {
  & .swiper-wrapper {
    margin-bottom: 50px;
  }

  & .swiper-slide {
    padding: 0 45px;
  }

  & .swiper-pagination-bullet-active {
    background-color: @blue-dark;
  }
}

.events__swiper-button {
  color: @blue-dark;
  font-size: 40px;
  text-shadow: 1px 1px 2px @orange;
}
