@font-face {
  font-family: 'Furore';
  src: url('../fonts/furore.ttf') format('truetype'), url('../fonts/furore.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'themify';
  src: url('../fonts/themify.woff?-fvbane') format('woff'), url('../fonts/themify.ttf?-fvbane') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'libre_baskervilleregular';
  src: url('librebaskerville-regular-webfont.woff2') format('woff2'),
    url('librebaskerville-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'libre_baskervillebold';
  src: url('../fonts/libre/librebaskerville-bold-webfont.woff2') format('woff2'),
    url('../fonts/libre/librebaskerville-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Walkway
@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_black-webfont.woff2') format('woff2'),
    url('../fonts/walkway/walkway_black-webfont.woff') format('woff'),
    url('../fonts/walkway/walkway_black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_oblique_black-webfont.woff2') format('woff2'),
    url('../fonts/walkway/walkway_oblique_black-webfont.woff') format('woff'),
    url('../fonts/walkway/walkway_oblique_black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_ultrabold-webfont.woff2') format('woff2'),
    url('../fonts/walkway/walkway_ultrabold-webfont.woff') format('woff'),
    url('../fonts/walkway/walkway_ultrabold-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_oblique_ultrabold-webfont.woff2') format('woff2'),
    url('../fonts/walkway/walkway_oblique_ultrabold-webfont.woff') format('woff'),
    url('../fonts/walkway/walkway_oblique_ultrabold-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_bold-webfont.woff2') format('woff2'),
    url('../fonts/walkway/walkway_bold-webfont.woff') format('woff'),
    url('../fonts/walkway/walkway_bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_oblique_bold-webfont.woff2') format('woff2'),
    url('../fonts/walkway/walkway_oblique_bold-webfont.woff') format('woff'),
    url('../fonts/walkway/walkway_oblique_bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_semibold-webfont.woff2') format('woff2'),
    url('../fonts/walkway/walkway_semibold-webfont.woff') format('woff'),
    url('../fonts/walkway/walkway_semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_oblique_semibold-webfont.woff2') format('woff2'),
    url('../fonts/walkway/walkway_oblique_semibold-webfont.woff') format('woff'),
    url('../fonts/walkway/walkway_oblique_semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'walkway';
  src: url('../fonts/walkway/walkway_oblique-webfont.woff2') format('woff2'),
    url('../fonts/walkway/walkway_oblique-webfont.woff') format('woff'),
    url('../fonts/walkway/walkway_oblique-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
