<section id="contacts" class="bottom section section_blue">
  <div class="container">
    <div class="bottom__wrapper">
      <div class="bottom__left">
        <h2 class="h1 bottom__title">Immigrant Techies</h2>
        <a href="https://forms.gle/uMwsjLrQkCZNJ1Ca6" target="_blank" class="button button_orange bottom__button"
          >Join our talent pool</a
        >
        <p class="bottom__text">
          A&nbsp;community of&nbsp;immigrant tech enthusiasts who are already in&nbsp;or&nbsp;are interested
          in&nbsp;pivoting to&nbsp;tech careers and startups.
        </p>
      </div>
    </div>
  </div>
</section>
