<section id="contacts_area" class="bottom section section_blue">
  <div class="container">
    <div class="bottom__wrapper">
      <div class="bottom__left">
        <h1 class="h1 bottom__title">Immigrant Techies</h1>
        <button type="button" class="button button_orange bottom__button">Join our talent pool</button>
        <p class="bottom__text">
          A&nbsp;tech enthusiast group for highly-skilled immigrants: those who like to&nbsp;support others, who are
          already in&nbsp;or are interested in&nbsp;pivoting to&nbsp;tech careers and startups.
        </p>
      </div>
      <div class="bottom__right">
        <img src="img/css/components/section-bottom/bottom.png" alt="people" class="bottom__image" />
      </div>
    </div>
  </div>
</section>
