.bottom {
  position: relative;
  z-index: 2;
  padding-top: 0;

  @media @screen-gt-xl {
    padding-top: 100px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background: @orange-light url('../img/css/components/section-bottom/bottom-bg-1.jpg') no-repeat center center /
        cover;
    }
  }
}

.bottom__background-mobile {
  display: block;
  width: 100%;
  margin-bottom: 20px;

  @media @screen-gt-xl {
    display: none;
  }
}

.bottom__wrapper {
  display: flex;
}

.bottom__left {
  width: 100%;

  @media @screen-gt-xl {
    width: 45%;
  }
}

.bottom__title {
  color: @blue-dark;
  text-shadow: 1px 1px 2px #fcbc5c;
  text-align: center;
  margin: 0 0 30px;

  @media @screen-gt-s {
    font-size: 46px;
  }

  @media @screen-gt-l {
    font-size: 70px;
  }

  @media @screen-gt-xl {
    margin-bottom: 60px;
    text-align: left;
    text-shadow: none;
  }
}

.bottom__button {
  margin: 0 auto 20px;

  @media @screen-gt-m {
    margin-bottom: 30px;
  }
}

.bottom__text {
  width: 85%;
  text-align: center;
  margin: 0 auto;

  @media @screen-gt-m {
    width: 100%;
    text-align: left;
  }
}
